/src/resources/wiki-subset-20140602.tar.gz
/src/resources/Complete_Data_Set/
/src/resources/test/
/src/resources/small/
/src/resources/indexLem/
/src/resources/indexStem/
/src/resources/indexNone/
/src/resources/testQuestions.txt
/out/
/target/
/Instructions, Descriptions, and Answers.docx